h1
  color: $secondary
h2
  color: $secondary
.lead
  text-align: center
.block-posts
  article
    .post-meta
      display: none
footer#document-footer
  border-top: solid 1px rgba(221,2,28,0.30)
nav
  .menu
    ul > li:nth-last-of-type(-n+2)
      a
        color: rgba(60,85,185,1)

.page__home
  .block-call_to_action
    .container
      .block-content
        .call_to_action
          h2
            color: $tertiary
            font-weight: 500
            font-size: 3rem
          p
            color: black
            font-size: 1.5rem
            font-weight: 400

.posts__page
  .block-call_to_action
    padding-top: 0
    padding-bottom: 0
    .container
      .block-content
        .call_to_action
          div
            padding: 0

#block-1, #block-3
  .container
    .block-content
      .chapter
        flex-direction: row-reverse
      .image-landscape
        width: 50%
        margin-right: calc( (100% + 4rem) / 12 * 1 + 4rem) !important
        margin-left: 0 !important
#block-2
  .container
    .block-content
      .image-landscape
        width: 50%
#block-4
  .container
      .block-content
        .chapter
          flex-direction: column-reverse
          text-align: center
        .image-landscape
          width: 50%
          margin: 0
        img
          width: 100%
        .text
          width: 60%
          font-size: 2rem;
#block-5,#block-6,#block-7
  .container
      .block-content
        padding: 4rem
        .call_to_action
          div
            h2
              font-size: 2rem
              color: $secondary
            .description
              align-self: end
            .actions
              align-items: flex-end
.block-chapter
  margin: 5rem 0
//Media query
@media (max-width: 992px)
  .page__home
    .block-call_to_action
      .container
        .block-content
          .call_to_action
            h2
              font-size: 2rem
            p
              font-size: 1rem
@media (max-width: 600px)
  .page__home
    .block-call_to_action
      .container
        .block-content
          .call_to_action
            h2
              font-size: 1.5rem

main
  .document-content
    .block-summary
      margin-top: 0
      .container
        .block-content
          p
            width: 50%
            font-size: 1.3rem
            font-weight: 300
            text-align: start
.hero--with-image
  padding-bottom: 0
  .container
    .content
      figure
        width: 50%
